:root{
    --primaryColor : white;
    --secondaryColor : orange;
    --thirColor : black;

    --bRadius : 15px;
}

html{
    background: url("./img/background/stars.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: white;
}

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    box-sizing: border-box;
}

header{
    margin: 1%;
}

.name{
    color: var(--primaryColor);
    width: 20%;
    letter-spacing: 1.5px;
    text-align: center;
}

.navigate{
    border-radius: 20px;
    margin-top: 0.5%;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
}


/** NavBar **/

nav{
    margin: 1%;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: var(--secondaryColor);
}

section{
    border-radius: var(--bRadius);
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    margin-top: 3%;
    margin-bottom: 3%;
    width: 95%;
}

section>h2{
    color: var(--primaryColor);
}

section h3{
    color: var(--secondaryColor);
}

.presentation{
    color: var(--primaryColor);
}

.moi{
    display: inline-flex;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.photo>img {
    border-radius: 100%;
}

.text{
    padding: 1%;
    width: 80%;
    font-size: x-large;
}

.text>p{
    text-align: justify;
}

.formations>div{
    padding: 1%;
    width: 25%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,255,255,0.5);
    border-radius: var(--bRadius);
}

.projName{
    padding: 1%;
    color: var(--secondaryColor);
}

.realisations>div{
    transition: 0.1s;
    display: inline-block;
    background : rgba(255,255,255,0.5);
    padding: 1%;
    margin: 1%;
    width: 25%;
    border-radius: var(--bRadius);
}

.realisations>div:hover{
    transition: 0.3s;
    background: rgba(255,255,255,1);
    cursor: pointer;
}


section>p{
    margin: 1%;
}
