:root{
    --primaryColor : white;
    --secondaryColor : #5e9cff;
    --thirColor : black;

    --bRadius : 15px;
}

html{
    background: url("./img/background/moon.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: white;
}

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    box-sizing: border-box;
}

header{
    margin: 1%;
}

.name{
    color: var(--primaryColor);
    width: 20%;
    letter-spacing: 1.5px;
    text-align: center;
}

.navigate{
    border-radius: 20px;
    margin-top: 0.5%;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
}


/** NavBar **/

nav{
    margin: 1%;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

a{
    text-decoration: none;
}

nav a{
    padding: 1%;
    font-weight: bold;
    font-size: 20px;
    color: var(--secondaryColor);
    transition: 0.1s;
}

nav a:hover{
    padding: 2%;
    margin: -1%;
    border-radius: 25px;
    transition: 0.2s;
    background-color: var(--secondaryColor);
    color: white;
}

section{
    border-radius: var(--bRadius);
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
}

section:not(.realisations, .popup), .title{
    text-align: center;
}

.element, .presentation, .desc-img, .desc-p{
    border-radius: var(--bRadius);
    margin: 2%;
    padding: 1%;
}

.element, .desc-img, .desc-p{
    background: rgba(0,0,0,0.7);
}

section>h2, .cont_title, .presentation>.title>h2{
    font-size: xx-large;
    color: var(--primaryColor);
}

.useFullLink{
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.useFullLink>div{
    transition: 0.3s;
    border-radius: var(--bRadius);
    padding: 1%;
    width: 20%;
    background: rgba(0,0,0,0.7);
}

.useFullLink>div>a>img{
    width:50%;
}

.useFullLink>div>a{
    width: 100%;
}

.useFullLink>div:hover{
    transition: 0.2s;
    width: 22.5%;
    border-radius: 100px;
}

.element>h3{
    font-size: x-large;
    color: var(--primaryColor);
}

section h3{
    color: var(--primaryColor);
}

.date{
    color: var(--secondaryColor);
}

.presentation{
    color: var(--primaryColor);
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.interest{
    display: flex;
    justify-content: space-around;
}

.interest-img>img{
    width: 50%;
}

.interest-title{
    color: var(--secondaryColor);
    padding: 2%;
}

.textList{
    text-align: none;
}

.moi{
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.moi>.element{
    width: 75%;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.photo>img {
    border-style: double;
    border-width: 10px;
    border-color: var(--secondaryColor);
    border-radius: 10%;
}

.text{
    padding: 4%;
    width: 100%;
    font-size: x-large;
}

.text>p{
    text-align: justify;
    letter-spacing: 1px;
}

.txt a{
    color: grey;
}

.txt a:hover {
    color: var(--secondaryColor);
}





/*  WIP  */

.iut{
    background: url("./img/iutBat.png") bottom;

}

.jr{
    background: url("./img/jrbat.png") bottom;
}

.sep{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.iut,.jr{
    width: 90%;
    display: inline-flex;
    border-radius: var(--bRadius);
    padding: 2%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-size: cover;
}

.txt{
    margin-top: auto;
    margin-bottom: auto;
    color: var(--primaryColor);
    margin-left: 5%;
    border-radius: var(--bRadius);
    background: rgba(0,0,0,0.7);
    width: 100%;
}

.txt h2{
    padding: 1%;
}

.formLogo{
    width: 90%;
    transition: 0.2s;
    border-radius: 25px;
}

.formLogo:hover{
    cursor: pointer;
    transition: 0.2s;
    opacity: 75%;
}

.comp_img{
    background: rgba(0,0,0,0.7);
    border-radius: var(--bRadius);
    padding: 1%;
    margin: 2%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.title{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1%;
    background: rgba(0,0,0,0.7);
    border-radius: var(--bRadius);
}

section{
    margin-top: 0;
    padding-top: 0;
}

.R{
    display: flex;
    justify-content: start;
}

.L{
    display: flex;
    justify-content: end;
}

.comp_img>img{
    width: 10%;
}

.contact>.element span{
    color: var(--secondaryColor);
}



/* -------------- */

.projName{
    padding: 1%;
    color: var(--secondaryColor);
}

section>p{
    margin: 1%;
}

















/*      CAROUSEL     */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides, .desc-slide {
    display: none;
    padding: 2%;
}

.slide-img{
    transition: 0.2s;
    cursor: pointer;
    border-radius: 50px;
    padding: 2% 1% 2% 1%;
    width: 50%;
    background: rgba(255,255,255,0.5);
}

.slide-img:hover{
    transition: 0.5s;
    background: rgba(255,255,255,1);
}

.slide-img>img{
    border-radius: 50px;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 5px
}

.prev {
    left : 0;
    border-radius: 5px
}

.slidetext {
    color: #f2f2f2;
    font-size: 25px;
    padding: 2%;
    width: max-content;
    text-align: center;
    background: rgba(0,0,0,0.7);
    border-radius: var(--bRadius);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.7);
}

/* The dots/bullets/indicators */
.dot, .desc-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--secondaryColor);
}


















        /*   LIKE NAVOPENED   */

section{
    display: none;
}


#pres:target{
    display: block;
}

#form:target{
    display: block;
}

#real:target{
    display: block;
}

#comp:target{
    display: block;
}

#cont:target{
    display: block;
}









    /*   LIKE NAVOPENED for Realisation   */


#soq:target{
    display: block;
}

#blizz:target{
    display: block;
}

#lamap:target{
    display: block;
}

#maqr:target{
    display: block;
}

#pirattack:target{
    display: block;
}

#kfind:target{
    display: block;
}

#CampTalk:target{
    display: block;
}

.desc{
    display: flex;
}

.desc-img{
    width:75%;
}

.desc>.element{
    color: var(--primaryColor);
    width: max-content;
    height: max-content;
}

.popup>.moi>.element>.text>p>b{
    color: var(--secondaryColor);
}

.popup>.moi{
margin-top : 0;
}

.desc>.element{
    width: max-content;
}

.desc-screen{
    border-radius : var(--bRadius);
    background : rgba(0,0,0,0.7);
    padding : 2%;
}


.maqrLogoToRevert{
    filter: invert();
}

.desc-photo{
    margin-top: 1%;
}

.text{
    color: var(--primaryColor);
}